
    <nav class="navbar navbar-expand-lg tool">
        <div class="container-fluid my-1">
        <a routerLink="" class="navbar-brand mx-5 logo">E-Cart</a>
        <form class="d-flex mx-5 align-item-center" *ngIf="navType==='default'">
            
            <input class="form-control search" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-warning search1" type="submit">Search</button>
            
          </form>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nikhil">
            <span class="navbar-toggler-icon color-light"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="nikhil">
            <div [ngSwitch]="navType">
            <ul class="navbar-nav d-flex me-5" *ngSwitchCase="'default'">
                <li class="nav-list"><a [routerLink]="['/seller-auth/']" class="nav-link text-light"><i class="fa-solid fa-user mx-1"></i>Seller</a></li>
                 <li class="nav-list"><a routerLink="" class="nav-link text-light"><i class="fa-solid fa-house mx-1"></i>Home</a></li>
                  <li class="nav-list"><a [routerLink]="['unlock']" class="nav-link text-light"><i class="fa-solid fa-right-to-bracket mx-1"></i>Login</a></li>
                   <li class="nav-list"><a [routerLink]="['login']" class="nav-link text-light"><i class="fa-solid fa-cart-shopping mx-1"></i>Cart(0)</a></li>
                   
            </ul>
            <ul class="navbar-nav d-flex me-5" *ngSwitchCase="'seller'">
                <li class="nav-list"><a  class="nav-link text-light"><i class="fa-solid fa-user mx-1"></i>{{sellerName|titlecase}}</a></li>
                 <li class="nav-list"><a [routerLink]="['/seller-product-add/']" class="nav-link text-light">Add Product</a></li>
                  <li class="nav-list"><a [routerLink]="['/seller-home']" class="nav-link text-light">Product List</a></li>
                   <li class="nav-list"><a (click)="logout()" class="nav-link text-light">Logout</a></li>
                   
            </ul>
            </div>
        </div>
</div>
    </nav>
    
