
<div class="container-fluid">
    <h2 class="text-center text-warning">List Of The Products</h2>
    
<table class="table">
    <thead>
      <tr>
        <th class="text-light">Image</th>
        <th class="text-light">Product Name</th>
        <th class="text-light">Product Category</th>
        <th class="text-light">Product Price</th>
        <th class="text-light">Product Color</th>
        <th class="text-light">Product Description</th>
        <th class="text-light">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of addProduct">
        <td><img src="{{list.image}}" alt=""></td>
        <td class="text-light">{{list.productName}}</td>
        <td class="text-light">{{list.productCategory}}</td>
        <td class="text-light">{{list.productPrice}}</td>
        <td class="text-light">{{list.productColor}}</td>
        <td class="text-light">{{list.productDescription}}</td>
        <td><button type="button" class="mx-1" (click)="delProduct(list.id)"><i class="fa-solid fa-trash"></i></button>
           <button type="button" ><i class="fa-sharp fa-solid fa-pen-to-square" [routerLink]="['/seller-update-product/'+list.id]"></i></button></td>
      </tr>
     
    </tbody>
  </table>
  </div>