<div class="container">
  <div class="row justify-content-center">
      <div class="col-sm-6">
        <div class="card p-3 my-5 product">
              <h3 class="my-1 text-center text-light">Update Product</h3>
        <form action="" class="form " [formGroup]="product">
         <div class="form-group mb-2">
            <label for="" class="form-label text-light">Enter Product Id</label>
             <input type="text" name="id" placeholder="Enter product name" formControlName="id" class="form-control" id="">
             <span class="text-danger" *ngIf="product.get('id')?.invalid && product.get('id')?.touched">Invalid product Id</span>
          </div>
          <div class="form-group mb-2">
            <label for="" class="form-label text-light">Enter Product Name:-</label>
             <input type="text" name="productName" placeholder="Enter product name" formControlName="productName" class="form-control" id="">
             <span class="text-danger" *ngIf="product.get('productName')?.invalid && product.get('productName')?.touched">Invalid product Name</span>
          </div>
          <div class="form-group mb-2">
            <label for="" class="form-label text-light">Enter Product Price:-</label>
             <input type="text" name="productPrice" placeholder="Enter Product Price" formControlName="productPrice" class="form-control" id="">
             <span class="text-danger" *ngIf="product.get('productPrice')?.invalid && product.get('productPrice')?.touched">Invalid product Price</span>
          </div>
          <div class="form-group mb-2">
              <label for="" class="form-label text-light">Enter Product Color:-</label>
               <input type="text" name="productColor" placeholder="Enter Product Color" formControlName="productColor" class="form-control" id="">
               <span class="text-danger" *ngIf="product.get('productColor')?.invalid && product.get('productColor')?.touched">Invalid product Color</span>
            </div>
            <div class="form-group mb-2">
              <label for="" class="form-label text-light">Enter Product Category:-</label>
               <input type="text" name="productCategory" placeholder="Enter Product Category" formControlName="productCategory" class="form-control" id="">
               <span class="text-danger" *ngIf="product.get('productCategory')?.invalid && product.get('productCategory')?.touched">Invalid product Category</span>
            </div>
            <div class="form-group mb-2">
              <label for="" class="form-label text-light">Enter Product Description:-</label>
               <textarea type="text" name="productDescription" placeholder="Enter Product Description" formControlName="productDescription" class="form-control" id=""></textarea>
               <span class="text-danger" *ngIf="product.get('productDescription')?.invalid && product.get('productDescription')?.touched">Description Is Too Short</span>
            </div>
          <div class="form-group mb-2">
            <label for="" class="form-label text-light">Enter Product Image Url:-</label>
             <input type="email" name="image" placeholder="Enter Product Image Url" formControlName="image" class="form-control " id="">
             <span class="text-danger" *ngIf="product.get('image')?.invalid && product.get('image')?.touched">Invalid product Url</span>
          </div>
          <div class="form-group mb-2">
           <button class="btn btn-success"  (click)="productUpdate(product.value)">Submit</button>
          </div>
        </form>
            </div>
            </div>
           </div>
      </div>
  

  
