input
{
    border-color: purple;
}
.login
{
    font-size: 22px;
    color: rebeccapurple;
    text-decoration: underline;
    font-weight:bold ;
    text-transform: capitalize;
    
}
.register
{
    font-size: 22px;
    color: rebeccapurple;
    font-weight: bold;
    text-decoration: underline;
    text-transform: capitalize;
}
.img1
{
    height: 370px;
}
.img2
{
    height: 330px;
}
input.ng-invalid.ng-touched
{
    border: 1px solid red;
    box-shadow: 0 0 13px inset red;
}
input.ng-valid.ng-touched
{
    border: 1px solid green;
    box-shadow: 0 0 15px inset rgb(17, 75, 17);
}
