<div class="container">
    <h1 class="text-center my-4">Orders</h1>
    <div class="row">
        <div class="col-sm-2">
       <span>Order</span>
        </div>
        <div class="col-sm-2">
            <span>Order Id</span>
             </div>
             <div class="col-sm-2">
                <span>Price</span>
                 </div>
                 <div class="col-sm-2">
                    <span>Status</span>
                     </div>
                     <div class="col-sm-2">
                        <span>Action</span>
                         </div>
    </div>
    
    <div class="row order-data" *ngFor="let order of orderData">
        <div class="col-sm-2">
       <img src="https://cdn.pixabay.com/photo/2017/10/07/23/00/lipstick-2828223__340.jpg" alt="">
        </div>
        <div class="col-sm-2">
            <span>{{order.id}}</span>
             </div>
             <div class="col-sm-2">
                <span>{{order.totalPrice}}</span>
                 </div>
                 <div class="col-sm-2">
                    <span>In Process</span>
                     </div>
                     <div class="col-sm-2">
                        <span><button class="btn btn-danger" (click)="cancelOrder(order.id)">Cancel Order</button></span>
                         </div>
    </div>
</div>

