.welcome
{
    border: 1px solid black;
    box-shadow: 0px 0px 10px gray;
    background:linear-gradient(cadetblue,darksalmon);
}
.ecart
{
    font-size: 35px;
}
.carImage
{
    height: 500px;
}
.lowest
{
  font-size: 30px;
  font-weight: bold;
  word-spacing:2px ;
  letter-spacing: 1px;
}
.local
{
    height: 200px;
    width: 400px;
}
.fa-truck
{
    color: green;
    font-size: 20px;
}
.fa-sack-dollar
{
    color: green;
    font-size: 20px;
}
.fa-right-left
{
    color: green;
    font-size: 20px;
}

.popular
{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: black;
}
.image
{
    width: 150px;
    height: 150px;
    align-self: center;
}
.detail
{
    box-shadow: 0px 0px 10px gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    
}
.view
{
    color: gray;
    font-weight: bold;
}
.buy
{
    background-color: lightcoral;
    border-radius: 10px;
    color: blue;
    height: 35px;
}
.cart
{
    background-color: lightgreen;
    border-radius: 10px;
    color: red;
    height: 35px;
}

